*{
    font-size: xx-large;
}
html{
    width: 100%;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(31, 31, 31);
}

h1{
    text-align: center;
    font-size: 50px;
    color: goldenrod;
}
#inputNo{
    width: 370px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background: rgb(216, 216, 216);
    padding: 10px 30px;
    text-align: right;
    margin-bottom: 1px;
}
/* Making the buttons to center */
.buttons {
    margin: 10px auto;
    text-align: center;
    max-width: auto;
}
.buttons > button {
   width: 100px;
   height: 100px;
   padding: 0;
   border-radius: 50%;
   border: none;
   background: #e9aa19;
   margin: 1px -2px;
}
.buttons > button:hover {
    border: none;
    background-color: #c7ac6d7a;
}
.buttons > button:active {
    border:none;
    background-color: #f4d58daf;
}