*{
    font-size: xx-large;
    font-family: 'Aldrich', sans-serif;
    color:rgb(39, 39, 39);
}
html{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffd60a;
}
h1{
    text-align: center;
    font-size: 70px;
    color: rgb(49, 49, 49);
    margin: 20px 20px;
}
#inputNo{
    width: 370px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    text-align: right;
    margin-bottom: 1px;
    color: rgb(44, 42, 42);
    overflow: auto;
}
/* Making the buttons to center */
#buttons {
    margin: 30px auto;
    text-align: center;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 500px;
    background-color: #ffde71;
    padding: 20px 20px 40px 20px;
    border-radius: 50px;
}
#buttons button {
   width: 100px;
   height: 100px;
   padding: 0;
   border-radius: 50px;
   border: none;
   margin: 4px 5px;
   outline: none;
}
#buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons button:not(#buttons > div > button:last-child, .first-row > button):hover{
    border: none;
    background-color: #fafafa7a;
}
#buttons > div > button:last-child, .first-row > button{
    background-color: #ffffff50;
}
#buttons > div > button:last-child:hover, .first-row > button:hover{
    background-color: #e6e6e6a6;
    border: none;
}
#buttons button:not(#buttons > div > button:last-child, .first-row > button):active, #buttons > div > button:last-child:active, .first-row > button:active {
    border:none;
    background-color: #c5c5c5af;
}
#buttons > div:nth-child(7){
    display: flex;
    justify-content: flex-start;
    margin: -150px -20px 0 0;
}
#buttons > div:nth-child(6){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
} 

.mode {
    margin-top: 10px;
}
.switch{
    width: 80px;
    height: 43px;
    position: relative;
    display: inline-block;
}
.switch > input{
    width: 0;
    height: 0;
    opacity: 0;
}
.slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(252, 239, 207);
    transition: 0.5s;
    width: 80px;
}
.slider::before{
    position: absolute;
    content: "";
    bottom: 4px;
    left: 5px;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 187, 0);
    transition: 0.5s;
}
.switch > input:checked + .slider{
    background-color: #5e5e5e;
}
.switch > input:checked + .slider::before{
    transform: translateX(34px);
    background-color: #363636;
}
.slider.round{
    border-radius: 40px;
}
.slider.round::before{
    border-radius: 34px;
}