:root{
    --body-background-day:  #ffd60a;
    --body-background-night: rgb(31, 31, 31);
    --calculator-background-day: #ffde71;
    --calculator-background-night: #3d3d3bbd;
    --inputNo-backgroundColor-day: rgb(255, 255, 255);
    --inputNo-backgroundColor-night: rgb(66, 66, 66);
    --inputNo-textColor-day: rgb(44, 42, 42);
    --inputNo-textColor-night: goldenrod;
    --header-textColor-day: rgb(49, 49, 49);
    --header-textColor-night: goldenrod;
    --button-textColor-day: rgb(39, 39, 39);
    --button-textColor-night: rgb(54, 54, 54);
    --button-backgroundColor-day-night: #fafafa7a;
    --button-backgroundColor-day-night-hover: rgba(250, 250, 250, 0.8);
    --button-backgroundColor-day-night-active: rgba(197, 197, 197, 0.46);
    --button-operator-backgroundColor-day-night: rgba(255, 207, 0, 0.83);
    --button-operator-backgroundColor-day-night-hover: rgba(255, 207, 0, 0.45);
}
*{
    font-size: xx-large;
    font-family: 'Aldrich', sans-serif;
    color: var(--button-textColor-day);
}
html{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.botty{
    background-color: var(--body-background-day);
}
.body-dark{
    background-color: var(--body-background-night) !important;
}
h1{
    text-align: center;
    font-size: 70px;
    color: var(--header-textColor-day);
    margin: 20px 20px;
}
.h1-dark{
    color: var(--header-textColor-night);
}
.inputNo{
    width: 370px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background: var(--inputNo-backgroundColor-day);
    padding: 10px 30px;
    text-align: right;
    margin-bottom: 1px;
    color: var(--inputNo-textColor-day);
    overflow: auto;
}
.inputNo-dark{
    background-color: var(--inputNo-backgroundColor-night);
    color: var(--inputNo-textColor-night);
}
/* Making the buttons to center */
.buttons {
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 500px;
    background-color: var(--calculator-background-day);
    padding: 20px 20px 40px 20px;
    border-radius: 50px;
}
.buttons-dark{
    background-color: var(--calculator-background-night) !important;
}
.butt, button {
   width: 100px;
   height: 100px;
   padding: 0;
   border-radius: 50px;
   border: none;
   margin: 4px 5px;
   outline: none;
}

.buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.butt{
    border: none;
    background-color: var(--button-backgroundColor-day-night); /* Do not change this */
}
.butt:hover{
    background: var(--button-backgroundColor-day-night-hover);
}
.operator-button{
    background-color: var(--button-operator-backgroundColor-day-night) !important;
}
.operator-button:hover{
    background-color: var(--button-operator-backgroundColor-day-night-hover) !important;
    border: none;
}
.butt:active{
    border:none;
    background-color: var(--button-backgroundColor-day-night-active) !important;
}

.butt:nth-child(7){
    display: flex;
    justify-content: flex-start;
    margin: -160px -20px 0 0;
}
.butt:nth-child(6){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
/* I intentionally didn't use :root for this */
.mode {
    margin-top: 10px;
}
.switch{
    width: 80px;
    height: 43px;
    position: relative;
    display: inline-block;
}
.switch > input{
    width: 0;
    height: 0;
    opacity: 0;
}
.slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(252, 239, 207);
    transition: 0.8s;
    width: 80px;
}
.slider::before{
    position: absolute;
    content: "";
    bottom: 4px;
    left: 5px;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 187, 0);
    transition: 0.5s;
}
.switch > input:checked + .slider{
    background-color: #5e5e5e;
}
.switch > input:checked + .slider::before{
    transform: translateX(34px);
    background-color: #363636;
}
.slider.round{
    border-radius: 40px;
}
.slider.round::before{
    border-radius: 34px;
}